<div class="container content-area">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                {{#each multimedia}}
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            <p class="card-title mb-2 h5">Nombre: {{NombreMultimedia}}</p>
                        </div>
                        <div class="">
                            <p class="card-title mb-2 h5">Descripcion: {{DireccionMultimedia}}</p>
                        </div>
                        {{#if DireccionVideo}}
                        <iframe width="100%" height="315" src="{{DireccionVideo}}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        {{/if}}
                        {{#if DireccionImagen}}
                        <img src="{{DireccionImagen}}" class="img-fluid" alt="Responsive image">
                        {{/if}}
                        <div class="text-right">
                            <a href="/multimedia/editmultimedia/{{idMultimedia}}" class="btn btn-success active "
                                role="button" aria-pressed="true">Editar
                                Multimedia</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>