{{#if user}}
<header class="main-navbar-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top theme-color">
    <div class="menu-toggle-button">
      <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
        <span class="ti-menu"></span>
      </a>
    </div>
    <a class="navbar-brand" href="/">Desarrollo Colectivo</a>

    <ul class="navbar-nav ml-auto navbar-top-links">
      <li class="dropdown">
        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img
            src="https://placehold.it/200x200" alt="user-img" width="36" class="img-circle">
          <b class="d-none d-sm-inline-block">{{user.idUsuario}}</b></a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <div class="dw-user-box">
              <div class="u-img"><img src="https://placehold.it/200x200" alt="user"></div>
              <div class="u-text">
                <h4>{{user.idUsuario}}</h4>
                <p class="text-muted">{{user.Correo}}</p><a href="/profile/editprofile/{{user.idUsuario}}"
                  class="btn btn-rounded btn-danger btn-sm">Editar Usuario</a>
              </div>
            </div>
          </li>
          <div class="dropdown-divider"></div>
          <li><a href="/profile/profile"><i class="ti-user"></i> Mi Perfil</a></li>
          {{!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
          <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
          <div class="dropdown-divider"></div>
          <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li> --}}
          <div class="dropdown-divider"></div>
          <li><a href="/logout"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
  </nav>
</header>
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled components slimescroll-id" id="accordion">
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <div><img src="https://placehold.it/300x300" alt="user-img" class="img-circle"></div>
          <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{user.idUsuario}} </a>
          <ul class="dropdown-menu">
            <li><a href="/profile/profile"><i class="ti-user"></i> Mi Perfil</a></li>
            {{!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
            <li><a href="#"><i class="ti-email"></i> Inbox</a></li> --}}
            <div class="dropdown-divider"></div>
            <li><a href="/profile/editprofile/{{user.idUsuario}}"><i class="ti-settings"></i> Configuracion</a></li>
            <div class="dropdown-divider"></div>
            <li><a href="/logout"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>

      <li class="active">
        <a href="#homeSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
          <i class="ti-home m-r-10"></i>Inicio
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu" data-parent="#accordion">
          <li><a href="/clase/viewcarrera"><i class="ti-book m-r-10"></i>Clases</a></li>
          <li><a href="/clase/viewexamen"><i class="ti-pencil-alt m-r-10"></i>Mis Examenes</a></li>
        </ul>
      </li>
      {{#ifCond user.Rol_idRol '>' 1}}
      <li>
        {{!-- <a href="#" class="wave-effect">About</a> --}}
        <a href="#pageSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse"
          aria-expanded="false">Administrar</a>
        <ul class="collapse list-unstyled" id="pageSubmenu" data-parent="#accordion" id="accordion2">
          <li>
            <a href="#pageSubmenu1" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Administrar Carreras</a>
            <ul class="collapse list-unstyled" id="pageSubmenu1" data-parent="#accordion1">

              <li><a href="/carrera/gestionarcarrera">Gestionar Carrera</a></li>
              <li><a href="/carrera/addcarrera">Agregar Carrera</a></li>
              <li><a href="/carrera/gestionarcarrera">Editar Carrera</a></li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu2" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Administrar Cursos</a>
            <ul class="collapse list-unstyled" id="pageSubmenu2" data-parent="#accordion2">
              <li><a href="/curso/gestionarcurso">Gestionar Cursos</a></li>
              <li><a href="/curso/addcurso">Agregar Curso</a></li>
              <li><a href="/curso/gestionarcurso">Editar Curso</a></li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu3" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Administrar Modulos</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3" data-parent="#accordion2">
              <li><a href="/modulo/gestionarmodulo">Gestionar Modulos</a></li>
              <li><a href="/modulo/addmodulo">Agregar Modulo</a></li>
              <li><a href="/modulo/gestionarmodulo">Editar Modulo</a></li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu4" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Administrar Unidades</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4" data-parent="#accordion2">
              <li><a href="/unidad/gestionarunidad">Gestionar Unidades</a></li>
              <li><a href="/unidad/addunidad">Agregar Unidad</a></li>
              <li><a href="/unidad/gestionarunidad">Editar Unidad</a></li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu5" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Administrar Temas</a>
            <ul class="collapse list-unstyled" id="pageSubmenu5" data-parent="#accordion2">
              <li><a href="/tema/gestionartema">Gestionar Temas</a></li>
              <li><a href="/tema/addtema">Agregar Tema</a></li>
              <li><a href="/tema/gestionartema">Editar Tema</a></li>
              <li><a href="/multimedia/gestionarmultimedia">Agregar Multimedia</a></li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu7" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false"><i class="ti-pencil-alt m-r-10"></i>Administrar Examenes</a>
            <ul class="collapse list-unstyled" id="pageSubmenu7" data-parent="#accordion2">
              <li><a href="/tema/gestionarpregunta">Gestionar Preguntas</a></li>
              <li><a href="/tema/gestionarexamen">Gestionar Examen</a></li>
            </ul>
          </li>
        </ul>
      </li>
      {{/ifCond}}
      {{#ifCond user.Rol_idRol '==' 2}}
      <li class="active">
        <a href="#admUsuario" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
          <i class="ti-user m-r-10"></i>Adm Usuarios
        </a>
        <ul class="collapse list-unstyled" id="admUsuario" data-parent="#accordion">
          <li><a href="/admin/gestionarUsuario"><i class="ti-settings m-r-10"></i>Gestionar Usuarios</a></li>
          <li><a href="/admin/gestionarCarousel"><i class="ti-layout-slider-alt m-r-10"></i>Gestionar Carousel</a></li>
        </ul>
      </li>
      {{/ifCond}}
    </ul>
  </nav>

  {{else}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Desarrollo Colectivo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/signin">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{/if}}
  {{!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Adm Carrera
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/carrera/gestionarcarrera">Gestionar Carreras</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/carrera/addcurso">Agregar Curso</a>
    <a class="dropdown-item" href="/carrera/addmodulo">Agregar Modulo</a>
    <a class="dropdown-item" href="/carrera/addunidad">Agregar Unidad</a>
    <a class="dropdown-item" href="/carrera/addtema">Agregar Tema</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="/profile/profile">{{user.idUsuario}}</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/logout">Cerrar Sesion</a>
</li> --}}