<div class="container content-area">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form action="/profile/editprofile/{{data.idUsuario}}" method="POST">
                    <fieldset class="form-group">
                        <label class="form-control">usuario: {{data.idUsuario}}</label>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Correo}}" type="text"
                            placeholder="CORREO" name="correo">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="form-control">N identificacion: {{data.idPersona}}</label>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Nombre1}}" type="text"
                            placeholder="PRIMER NOMBRE" name="Nombre1">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Nombre2}}" type="text"
                            placeholder="SEGUNDO NOMBRE" name="Nombre2">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Apellido1}}" type="text"
                            placeholder="PRIMER APELLIDO" name="Apellido1">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Apellido2}}" type="text"
                           placeholder="SEGUNDO APELLIDO" name="Apellido2">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.FechaNacimiento}}" type="text"
                            placeholder="FECHA DE NACIMIENTO" name="FechaNacimiento">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.sexo}}" type="text"
                            placeholder="SEXO" name="sexo">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.Direccion_idBarrio}}" type="text"
                            placeholder="DIRECCION" name="direccion">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" value="{{data.NumeroTelefono}}" type="text"
                            placeholder="TELEFONO" name="telefono">
                    </fieldset>
                    <a href="/profile/profile" class="btn btn-lg pull-xs-right btn-primary">
                        Guardar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>