<main class="mdl-layout__content" style="padding: 5%">
    <h2>{{NombreExamen}}</h2>
    <form action="/clase/exam/{{idExamen}}/{{idExamenPresentado}}" method="post" class="form-group">
        <div id="contenido">
            <div class="pregunta">
                <div class="pregunta">

                    {{#each pregunta}}
                    <div>
                        <h4 class="form-group" type="text" placeholder="Pregunta">
                            {{Pregunta}}</h4>
                        {{#each respuestas}}
                        <fieldset class="form-group" style="margin: 30px">
                            <input type="radio" value="{{id}}" name="{{idSup}}"> <span>{{respuesta}}</span>
                        </fieldset>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Guardar Respuesta</button>
        </div>
    </form>
</main>