<div class="margen">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="nav-sidebar">
        <ul class="list-unstyled components slimescroll-id" id="accordion">
            <li class="active">
                {{#each data}}
                <a href="/clase/viewclase/{{Curso_idCurso}}/{{idTema}}" class="accordion-toggle wave-effect">
                    <i class="ti-pencil m-r-10">{{NombreTema}}</i>
                </a>
                {{/each}}
                {{#each evaluacion}}
                <a href="/clase/exam/{{idExamen}}" class="accordion-toggle wave-effect">
                    <i class="ti-check-box m-r-10">{{NombreExamen}}</i>
                </a>
                {{/each}}
                {{!-- <ul class="collapse list-unstyled" id="homeSubmenu" data-parent="#accordion">
                    {{#each data}}
                    <li><a href="/clase/viewclase/{{Curso_idCurso}}/{{idTema}}"><i
                                class="ti-pencil m-r-10"></i>{{NombreTema}}</a></li>
                    {{/each}}
                    {{#each evaluacion}}
                    <a href="/clase/exam/{{idExamen}}" class="accordion-toggle wave-effect" data-toggle="collapse"
                        aria-expanded="false">
                        <i class="ti-pencil m-r-10">{{NombreExamen}}</i>
                    </a>
                    {{/each}}
                </ul> --}}
            </li>
        </ul>
    </nav>
    <div class="page-content" style="margin: 1%; ">
        <!-- Your content goes here -->
        {{#if multimedia}}
        {{else}}
        {{/if}}
        {{#each multimedia}}
        <div class="card">
            <div class="card-header">
                <p class="h4">{{NombreMultimedia}}</p>
            </div>
            <div class="card-body">
                <p> {{DescripcionMultimedia}}
                    {{#ifCond TipoMultimedia_idTipoMultimedia '==' 1}}
                    <iframe width="100%" height="315" src="{{Direccion}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {{/if}}
                    {{#ifCond TipoMultimedia_idTipoMultimedia '==' 2}}
                    {{/if}}
                    {{#ifCond TipoMultimedia_idTipoMultimedia '==' 4}}
                    {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

</div>