<div class="" style="width:100%;">
    <div id="chartdiv"
        onmouseleave="document.getElementById('chartdiv').style.width = '1%';document.getElementById('chartdiv2').style.width = '99%';"
        onmouseenter="document.getElementById('chartdiv').style.width = '30%';document.getElementById('chartdiv2').style.width = '60%';"
        style="width:1%; float: left; margin: 0%; padding: 0%; text-align: center; ">

        <div class="accordion" id="accordionExample">
            <div class="card">
                {{#each data}}
                <div class="card-header" id="headingOne" style="background: #021f38; color: #E8EDF2;">
                    <h2 class="mb-0">
                        <a class="btn btn-link"
                            href="/clase/viewclase/{{Curso_idCurso}}/{{idTema}}">{{NombreTema}}</a>
                        {{!-- <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{Nombre}}"
                            aria-expanded="true" aria-controls="{{Nombre}}">
                            {{Nombre}}
                        </button> --}}
                    </h2>
                </div>
                {{/each}}
                <div class="card-header" id="headingOne" style="background: #021f38; color: #E8EDF2;">
                    <h2 class="mb-0">
                        <a class="btn btn-link"
                            href="/clase/exam/{{curso.idCurso}}">Evaluacion</a>
                        {{!-- <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{Nombre}}"
                            aria-expanded="true" aria-controls="{{Nombre}}">
                            {{Nombre}}
                        </button> --}}
                    </h2>
                </div>
                {{!-- <div id="{{Nombre}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                    <div class="card-body">
                        <ul class="collapse list-unstyled" id="pageSubmenu" data-parent="{{idTema }}"
                            id="{{NombreUnidad}}">
                            <li><a href="#">{{idTema}}</a>

                            </li>
                        </ul>

                        <li>
                            <a href="#pageSubmenu3" class="accordion-toggle wave-effect" data-toggle="collapse"
                                aria-expanded="false"> {{NombreTema }}</a>
                        </li>
                        <li>
                            <a href="#pageSubmenu4" class="accordion-toggle wave-effect" data-toggle="collapse"
                                aria-expanded="false">{{idTema}} </a>
                        </li>

                    </div>

                </div> --}}
            </div>
        </div>



    </div>



    <div id="chartdiv2" style="width:90%; float: right;padding: 30px;">

        <main class="mdl-layout__content">
            <div class="page-content" style="margin: 1%; ">
                <!-- Your content goes here -->
                {{#each multimedia}}
                <div class="row">
                    <H1></H1>
                    <p> {{DireccionMultimedia}}
                    </p>
                    {{#if DireccionVideo}}
                    <iframe width="100%" height="315" src="{{DireccionVideo}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {{/if}}    
                </div>
                {{/each}}
                

                {{!-- 



                <div style="margin: 2%; ">

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="background-color: #021f38; ">
                        ANTERIOR
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="background-color: #021f38;">
                        SIGUIENTE
                    </button>

                </div> --}}
        </main>

    </div>
</div>

{{!-- 
<script>
    cambiar = () => {
        if (chartdiv = width: 30 %) {
            chartdiv = width: 10 %
  }else {
        }
    }
</script> --}}

{{!-- <button type="button" onClick = "document.getElementById('chartdiv').style.width = '30%';">Click Me!</button> --}}
{{!--   <div id="chartdiv" style="width: 100%; height: 50px; background-color:#E8EDF2"></div> --}}