<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="banner text-center">
          <div class="container">
            <h1 class="logo-font">Agregar Tema</h1>
          </div>
        </div>
        <form action="/carrera/addtema" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione Carrera
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{#each carrera}}
                  <a class="dropdown-item" href="/carrera/addtema/{{idCarrera}}"
                    class="btn btn-secondary">{{NombreCurso}}</a>
                  {{/each}}
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione Curso
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{#each curso}}
                  <a class="dropdown-item" href="/carrera/addtema/{{Curso_idCurso}}/{{idCurso}}"
                    class="btn btn-secondary">{{NombreSubCurso}}</a>
                  {{/each}}
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione Modulo
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{#each modulo}}
                  <a class="dropdown-item" href="/carrera/addtema/{{idCarrera}}/{{idCurso}}/{{idModulo}}"
                    class="btn btn-secondary">{{Nombre}}</a>
                  {{/each}}
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <select class="form-control" id="selunidad" name="selunidad">
                <option selected>
                  Seleccione Unidad
                </option>
                {{#each unidad}}
                <option value="{{idUnidad}}">{{NombreUnidad}}</option>
                {{/each}}
              </select>
            </fieldset>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="TITULO DEL TEMA" name="NombreTema">
          </fieldset>
          <button class="btn btn-lg pull-xs-right btn-primary">
            Crear Tema
          </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>