<div class="" style="width:100%;">
    <div id="chartdiv"
        onmouseleave="document.getElementById('chartdiv').style.width = '1%';document.getElementById('chartdiv2').style.width = '99%';"
        onmouseenter="document.getElementById('chartdiv').style.width = '30%';document.getElementById('chartdiv2').style.width = '60%';"
        style="width:1%; float: left; margin: 0%; padding: 0%; text-align: center; ">
        {{#each data}}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne" style="background: #021f38; color: #E8EDF2;">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{Nombre}}"
                            aria-expanded="true" aria-controls="{{Nombre}}">
                            {{Nombre}}
                        </button>
                    </h2>
                </div>

                <div id="{{Nombre}}" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                
          <ul class="collapse list-unstyled" id="pageSubmenu" data-parent="{{NombreUnidad }}" id="{{NombreUnidad }}">
          
          
          <li><a href="#">{{NombreUnidad }}</a></li>
         
          <li>
            <a href="#pageSubmenu2" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">{{NombreUnidad }}xxx</a>
NombreUnidad             
             
              <li><a href="#">{{NombreUnidad }}    </a></li>
              <li> <lo>{{NombreUnidad }}</lo> </li>
              
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu3" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false"> {{NombreTema }}</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3" data-parent="#{{NombreTema }}">
           
              <li><a href="#">{{idTema}} {{idTema}}</a></li>
             
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu4" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">{{idTema}} {{idTema}}</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4" data-parent="#{{idTema}}">
            
              <li><a href="#">{{idTema}}</a></li>
          
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu5" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false"> </a>
            <ul class="collapse list-unstyled" id="pageSubmenu5" data-parent="#{{accordion2}}">
             
              <li><a href="#"> </a></li>
          
            </ul>
          </li>
          {{!-- <li>
            <a href="#pageSubmenu3" class="accordion-toggle wave-effect" data-toggle="collapse"
              aria-expanded="false">Even more</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3" data-parent={{idNombre}}">
              <li><a href="#">Page 7</a></li>
              
            </ul>
          </li> --}}
        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


    </div>



    <div id="chartdiv2" style="width:90%; float: right;padding: 30px;">
          {{#each data}}
        <main class="mdl-layout__content">
            <div class="page-content" style="margin: 1%; ">
                <!-- Your content goes here -->
                <div class="row">
                    <H1> 1      {{Nombre}}</H1>
                    <p>La tematica es muy facíl de ver y realizar, sim embargo el siguiente video muestra como funciona.
                       2 {{NombreTema}}

                        {{NombreUnidad}}3
                    </p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/CdcNinx1NXI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>{{idTema }}4
                </div>






                <div style="margin: 2%; ">

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="background-color: #021f38; ">
                        ANTERIOR
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        style="background-color: #021f38;">
                        SIGUIENTE
                    </button>

                </div>
        </main>
          {{/each}}
    </div>
</div>

{{!-- 
<script>
    cambiar = () => {
        if (chartdiv = width: 30 %) {
            chartdiv = width: 10 %
  }else {
        }
    }
</script> --}}

{{!-- <button type="button" onClick = "document.getElementById('chartdiv').style.width = '30%';">Click Me!</button> --}}
{{!--   <div id="chartdiv" style="width: 100%; height: 50px; background-color:#E8EDF2"></div> --}}